.copy_right_footer{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    line-height: 2 !important;
    background-color: white;
    text-align: center !important;
  }
  .heading{
    text-align: center !important;
    font-size: 23px;
    width: 550px;
    height: 50%;
    margin: 0px;
}
body{
  background-color: wheat;
  font-family: Arial, Helvetica, sans-serif;
}